.card{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  width: 60vw;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
    margin: auto;

    border: black 2px solid;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    padding: 2px;
    background: #31095e;
    box-shadow: hsl(268, 13%, 45%);
    color:white;
}
@media (max-width:1000px) {
    .card{height: 70vh; width: 80vw; gap:1.5rem;}
    .card .card_title{font-size: small;}
    .card:hover .small-on-hover{font-size: xx-small;}
}
.card_banner{
    
    height: 150px;
    width: 150px;
    margin:auto;
    padding: 2px;
    border: 4px solid black;
    border-radius: 1rem;
    overflow: hidden;
    grid-row:span 2;
}


.card_title{
    font: 1em ;
    font-size: larger;
}

.color2{
    background-color: #f43f5e;
}

.color0{
    background-color: #3b82f6;
}

.color1{
    background-color: #22c55e;
}

.card_banner img{
    height: 150px;
    width: 150px;
}
.card_icon{
    height: 40px;
    width: 40px;
}
.card_orgicon{
    height: 45px;
    width: 45px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
}
.card_orgname{
    display: inline;
    color: black;
    font-weight: bolder;
    margin: auto;
}
.card_description{
    grid-row-start: 2;
    grid-column-start:2;
    max-height: 100px;
    
    overflow: hidden;
    text-overflow: ellipsis " [..]";
    
}
.card_venue{
    grid-row: span 2;
    grid-row-start: 3;
    grid-column: 2;
}
.card_venue p{
    text-align: left;
}

.card_timing{
    font-size: small;
}
