footer {
    background: rgb(22,22, 22);
    margin: auto;
    color: white;
    margin: 2rem;
    text-align: center;
    /* width: 100vw; */
}

footer p {
    margin: auto auto;
    font-family: 'Roboto Mono', monospace;
}